*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  width: 711px;
  min-height: 386px;
  margin-bottom: 15px;
  position: relative;
}

.result__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list {
  max-height: 298px;
  overflow: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  max-height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.preloader-template {
  position: absolute;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.92;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__video-card {
  margin-left: 2px;
  margin-right: 2px;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 0.9;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  width: fit-content;
  display: flex;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  margin-top: 2px;
  padding: 1px;
}

input[type="checkbox"]:checked + span {
  background-clip: content-box;
  background-color: #fff;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  padding: 6px;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
  margin-bottom: 2px;
}
